@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Ubuntu+Mono&display=swap');
 
 :root {
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono';
}

main {
    display: grid;
    height: 100vh;

    grid-template-areas:
    "top top top"
    "left canvas right"
    "left bottom right";
}

.top-panel {
    background-color:darkorchid;
    height: 150px;
    grid-area: top;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    /* background-color: red; */
}
.logo i {
    margin: 0 auto;
}

.reset-btn {
    padding: 5PX;
    border-radius: 8%;
    border: none;
}
.reset-btn:hover {
    box-shadow: 2px 2px 2px black;
}

.reset-btn:active {
    transform: scale(0.5);
}

div.lofi-girl img {
   border: 2px solid black;
}

.colors-history-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square-div {
    margin: 10px 0;
    width: 15px;
    height: 15px;
}

.left-panel {
    background-color: darkorchid;
    grid-area: left;
    width: 150px;
    padding: 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.left-panel h1 {
    margin-bottom: 50%;
    text-decoration: underline;
}

.left-panel div {
    margin-bottom: 1.3em;
}

canvas {
    grid-area: canvas;
    /* height: 50vh; */
}

.right-panel {
    background-color: darkorchid;
    grid-area: right;
    width: 150px;
}

.bottom-panel {
    background-color: darkorchid;
    grid-area: bottom;
    height: 150px;
} 

.top-panel, .bottom-panel, .left-panel, .right-panel {
    border: solid black 2px;
    margin: 5px
}