 :root {
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    height: 100vh;

    grid-template-areas:
    "top top top"
    "left canvas right"
    "left bottom right";
}

.top-panel {
    background-color:darkorchid;
    height: 150px;
    grid-area: top;
}

.left-panel {
    background-color: darkorchid;
    grid-area: left;
    width: 150px;
}

canvas {
    grid-area: canvas;
    /* height: 50vh; */
}

.right-panel {
    background-color: darkorchid;
    grid-area: right;
    width: 150px;
}

.bottom-panel {
    background-color: darkorchid;
    grid-area: bottom;
    height: 150px;
} 

.top-panel, .bottom-panel, .left-panel, .right-panel {
    border: solid black 2px;
    margin: 5px
}